<% if !authorized %>
  <div class="alert alert-danger">You need to <a href='/requesttoken'>authorize</a> first.</div>

<% else %>
  <div class="alert alert-success">Hi <strong><em><%= username %></em></strong>, there are <%= @notes.count %> notes in your notebook.</div>
  <div class="panel panel-default panel-info notes-panel">
    <div class="panel-heading">
      <%= @notebook.name %>
    </div>

    <ul class="list-group">
      <% @notes.each do |note| %>
        <li class="list-group-item">
          <a href='/dashboard/<%= @notebook.guid %>/<%= note.guid %>'><%= note.title %></a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
