<% if !authorized %>
  <div class="alert alert-danger">You need to <a href='/requesttoken'>authorize</a> first.</div>
<% else %>
  <div class="alert alert-success">Hi <strong><em><%= username %></em></strong>, there are <%= notebooks.count %> notebooks and <%= @total_notes_count %> notes in your account</div>
  <div class="panel panel-default panel-info notebooks-panel">
    <div class="panel-heading">
      Notebooks
    </div>

    <ul class="list-group">
      <% notebooks.each do |notebook| %>
        <li class="list-group-item">
          <a href="/notebooks/<%= notebook.guid %>/notes"><%= notebook.name %></a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% content_for(:js) do %>
<script>
$('.notebooks-panel #notebook-delete').click(function(){
  alert("Evernote API does not support to delete notebook, even under full access.")
});
</script>
<% end %>
